.App {
  text-align: center;
}

.header {
background-color:#041F46;
text-align: right;
padding: 30px;
}

.home {
color: white;
text-decoration: none;
font-weight: bold;
}

.title {
  text-align: center;
}

.missing-title {
  text-align: center;
}
.animal-title {
  text-align: center;
}

.body {
  background: #F2F5F9;
}

.missing-form {
  text-align: center;
}

.submit {
  background:#041F46;
  color: white;
  font-weight: bold;
  cursor: pointer;
}